Gris_Menu = #2C2C2C 
Gris_Menu_Hover = #5B5B5B
Gris_Bordes_Menu = rgba(255,255,255,0.2)

/* Main */

body
    background: #FFF
    min-width: 640px
    font-style: normal
    font-family: 'AvenirNext-UltraLight'
    font-size: 1em
    font-weight: normal

header
	background: Gris_Menu
	position: relative
	width: 100%
	height: 130px
	.menuBars
		display: none
		position: absolute
        height: 50px
        top: 39px
        left: 44px                
    .logo
    	position: absolute
    	height: 100px
    	top: 15px
    	left: 30%

.wrapper
	padding: 1.5em

.encabezado
	text-align: center
	padding: 0 0 0 0
	height: 403px
	overflow: hidden
	.fondo
		z-index: -1
		position: absolute
		height: 403px
		width: 100%
		background: url("../Images/Fondo_Index.jpg") no-repeat center top
		filter: brightness(40%)
		-webkit-filter: brightness(40%)
	h2
		z-index: 1
		padding: 0 56px
		margin-top: 65px
		font-family: AvenirNext-Bold
		font-size: 50px
		color: #FFFFFF
		line-height: 68px
		letter-spacing: 2px
		text-shadow: 0px 2px 4px rgba(0,0,0,0.50)
		margin-bottom: 10px
	h3
		z-index: 1
		padding: 0 56px
		font-family: AvenirNext-Regular
		font-size: 34px
		color: #FFFFFF
		line-height: 44px
		
.wrapper
	.botones
		overflow: hidden
		margin-left: auto
	    margin-right: auto
	    width: 632px
		.boton
			float: left
			a
				display: block
				text-align: center
				background: #4A90E2;
				width: 310px
				height: 26px
				padding: 5px 0 18px 0
				font-family: AvenirNext-Regular;
				font-size: 30px;
				color: #FFFFFF;
				line-height: 41px;
		.one
			margin-right: 0.7em	
	.content
		text-align: center
		h2
			margin-top: 20px
			font-family: AvenirNext-Regular;
			font-size: 40px;
			color: #4B4B4B;
			line-height: 55px;
		h3
			margin-left: 10px
			font-family: AvenirNext-UltraLight;
			font-size: 35px;
			color: #747474;
			line-height: 40px;
		.line
			margin: 20px 0 42px 0
			border-bottom: 1px solid #909090;
			
	.servicios
		#S1
			h3
				top: 70px
		#S2
			h3
				top: 50px
		#S3
			h3
				top: 50px
		#S4
			h3
				top: 70px
		#S5	
			h3
				top: 50px
		article
			background: #F6F6F6
			-moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.50)
			box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.50)
			margin: 0 -24px 30px -24px
			position: relative
			overflow: hidden
			height: 180px
			img
				width: 140px
				position: absolute
				left: 30px
				top: 22px
			h3
				position: absolute
				left: 23%
				top: 25%
				width: 57%
				font-family: AvenirNext-Regular
				font-size: 45px
				color: #9B9B9B
				line-height: 42px
			.mas
				border: 3px solid #4A90E2
				font-family: AvenirNext-Regular
				font-size: 25px
				color: #4A90E2
				line-height: 85px
				width: 88px
				height: 88px
				position: absolute
				right: 31px
				bottom: 43px
				border-radius: 50%
		
/*Manu Desktop*/

nav
	background: Gris_Menu
	.menu
		padding-left: 13%
		margin: 0 auto
		overflow: hidden
		li
			float: left
			overflow: hidden
			img
				height: 1em
				margin-right: 8px
			a
				color: #ffffff
				display: block
				padding: 15px 0px
				width: 150px
				text-align: center
			a:hover
				background: Gris_Menu_Hover

footer
	position: relative
	background: #2C2C2C
	margin: 0 -24px -24px -24px
	height: 336px
	.mail
		position: absolute
		top: 37px
		width: 100%
		height: 86px
		background: #4A90E2
		text-align: center
		color: #FFF
		font-family: AvenirNext-Regular
		font-size: 55px
		color: #FFFFFF
		line-height: 93px
		img
			height: 66px
			vertical-align: -13px
	.social
		position: absolute
		top: 153px
	.S01
		left: 20%
	.S02
		left: 44%
	.S03
		left: 68%
	center
		position: absolute
		width: 100%
		color: #FFFFFF
		bottom: 10px
		
			
			


/*Menu iPad*/
				
@media screen and (max-width: 800px)	
	header
		top: 0
		.menuBars
			display: block
	nav
		position: fixed
		background: Gris_Menu
		width: 80%
		height: 100%
		margin: 0
		top: 0
		left: -100%
		border-right: 5px solid #1486CB
		z-index: 1
		.menu
			padding: 0
			li
				display: block
				float: none
				border-bottom: 1px solid Gris_Bordes_Menu
				img
					width: 53px

				a
					border-left: 17px solid #1486CB
					padding-left: 25px
					text-align: left
					font-size: 2em				
					width:100%
	#shadow
		display: none
	    position: fixed
	    top:0
	    bottom: 0
	    width: 100%
	    height:100%
	    background-color: rgba(0,0,0,0.6)
	    z-index: 0
		.wrapper
			.servicios
				#S1
					h3
						top: 50px
				#S2
					h3
						top: 50px
				#S3
					h3
						top: 50px
				#S4
					h3
						top: 50px
				#S5	
					h3
						top: 30px

header
	margin: 0	
		
/*General Attributes*/

h1, h2, h3, h4, h5, h6, p
	margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline

li
	list-style: none
a
	text-decoration: none