Gris_Menu = #2C2C2C 

/* Main */

body
    background: #FFF

header
	background: Gris_Menu
	padding: 2% 0
	.menuBars
        height: 50px
        margin: 25px 0 0 30px
        float: left
                
    .logo
    	height: 100px
    	margin-left: 50px

nav
	background: green
	
		
/*General Attributes*/

li
	list-style: none
a
	text-decoration: none